h1 {
    color: #000;
    padding: 10px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

h2 {
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

text {
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
}

h3 {
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

h4 {
    color: rgb(240, 240, 240);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
  


.discord, .github, .rick {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 31%;
    
}

.discord {
    position: absolute;
    bottom: 0;
    left: 20;
}
.github {
    position: absolute;
    bottom: 0;
    left: 34%;
}
.rick {
    position: absolute;
    bottom: 0;
    left: 68%;
}

.friends {
    position: absolute;
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
    top: 1%;
}


